.vinylWrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 220px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 20%);
  border-radius: 12px;
  overflow: hidden;
  background-color: #ce9b2f;
}

.vinylWrap .vinyl img,
.vinylWrap .cover img {
  width: 100%;
  height: 100%;
}

.vinylWrap .cover {
  overflow: hidden;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.vinylWrap .cover:before {
  content: "";
  position: absolute;
  top: 198px;
  left: 199px;
  width: 48%;
  height: 48%;
  background: #555;
  /* mix-blend-mode: normal; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: screen; */
  /* mix-blend-mode: overlay; */
  /* mix-blend-mode: darken; */
  /* mix-blend-mode: lighten; */
  /* mix-blend-mode: color-dodge; */
  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: hard-light; */
  /* mix-blend-mode: soft-light; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: hue; */
  /* mix-blend-mode: saturation; */
  /* mix-blend-mode: color; */
  /* mix-blend-mode: luminosity; */
  z-index: 20;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, .2);
}

.AlbumExit {
  opacity: 1;
  scale: 1;
}

.AlbumExitActive {
  opacity: 0;
  scale: .1;
  transition: all 200ms ease;
}

.AlbumEnter {
  opacity: 0;
  scale: .1;
}

.AlbumEnterActive {
  opacity: 1;
  scale: 1;
  transition: all 300ms ease;
}