@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.freq {
  color: var(--color-highlight);
  font-size: 6.4rem;
  line-height: 5.6rem;
  text-align: center;
  font-weight: 700;
  font-family: 'Righteous', cursive;
  transition: color 3s ease;
}