@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-purple-50: #EEE8F9;
  --color-purple-100: #D4C6EF;
  --color-purple-200: #B7A0E4;
  --color-purple-300: #9A79D9;
  --color-purple-400: #845DD1;
  --color-purple: #6E40C9;
  --color-purple-600: #663AC3;
  --color-purple-700: #5B32BC;
  --color-purple-800: #512AB5;
  --color-purple-900: #3F1CA9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.theme-light {
  --color-primary: #0d1116;
  --color-highlight: #6e40c9;
  --background-start-rgb: 210, 215, 220;
  --background-end-rgb: 255, 255, 255;
}

.theme-dark {
  --color-primary: #0d1116;
  --color-highlight: #6e40c9;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 12, 12, 12;
}

.theme-light,
.theme-dark {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

main {
  color: var(--color-primary);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  transition: background-color 3s ease, color 3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

a.btn {
  display: inline-block;
  color: var(--color-purple-50);
  background: var(--color-purple);
  border: 1px solid var(--color-highlight);

  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 8px;
  line-height: 40px;
  font-weight: 600;
}