.logo {
  display: flex;
  justify-content: center;
}

.intro {
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.intro strong {
  color: var(--color-highlight);
}

.stations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.stations>div {
  padding: 1rem;
  box-shadow: 0 12px 24px rgb(0 0 0 / 20%);
  border-radius: 12px;
  overflow: hidden;
  background: var(--color-purple-50);
}

.stations>div img {}